*{
    box-sizing: border-box;
}

#header
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;    
    padding: 0 15px;
    z-index: 1;
    background: #040b14;
}

 ::before,::after{
    box-sizing: border-box;
 }
.passport-pic{
    height: 120px;
    width: 120px;
    border-radius:50%;
    border: 5px solid black;
    vertical-align: middle;
    margin: 8px 75px;
}
h1{
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;

}
#nav-bar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0 0;
    margin-bottom: 8px;
    font-size: 15px;
}
.nav-menu i{
  padding-right: 8px ;
  margin-right: 8px;;

}
a{
    cursor:pointer;
    color: rgb(186, 175, 175);
    text-decoration: none;
    padding: 12px 15px;
    display: flex;
    align-items: center;

} 

i{
    cursor:pointer;
    color: rgb(243, 231, 231);
    text-decoration: none;
    margin: 0px 8px 0px 0px;


}
a:hover{
    cursor:pointer;
    color: rgb(243, 231, 231);
    text-decoration: none;
    padding: 12px 15px;

}
i:hover {
    cursor:pointer;
    color: rgb(68, 172, 242);
    text-decoration: none;
    

}
#social-links{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social-links a{
    box-sizing: border-box;
    font-size: 18px;
    display: inline;
    background: #212431;
    color: #fff;
    
    margin-top: 16px;
    padding: 6px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 25px;

    
}
.menu-button{
    display: flex;
    justify-content: flex-end;
}
.menu-toggel i{
        position: fixed;
       
        right: 15px;
        top: 15px;
        z-index: 9998;
        border: 0;
        font-size: 24px;
        transition: all 0.4s;
        outline: none !important;
        background-color: #149ddd;
        color: #fff;
        float: right;
        width: 40px;
        height: 40px;
        display:none;
        align-items: center;
        justify-content: center;
        line-height: 0;
        border-radius: 50px;
        cursor: pointer

}

div{display: block;}
section{
    padding: 60px 0;
    overflow: hidden;
}
.d-hero{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#hero{
    
    width: 100%;
    height:100vh;
    background: url("C:\\Users\\ZMO-WIN-VedantiT-01\\Downloads\\wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;

}

#main{
    margin-left: 300px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}
.section-title h2 {
    color:#173b6c;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

}
.section-title h2::after{
    content:" ";
    background: #149ddd;
    position: absolute;
    width: 50px;
    height: 3px;
    bottom: 0px;
    left: 0px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    
}

.about-image{
     width: 100%;
     height:auto;
     vertical-align: middle;

}

h3{ 
    padding-left: 40px;
    font-size: 20px;
    color:#173b6c;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.pt-lg-0{
   padding-top: 0px;
}
/*===================About==============================================================================================*/
#about .container ul li {
   padding: 0%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}
#about .container .col-4{
    width:300px

}

#about .container .col-8 {
    width:700px;

}
#about strong{
    font-size: 20px;
    font-weight: bolder;
    margin-right: 5px;
}
#about ul  span{
    font-size: 20px;
}
#about .col-8 p{
    padding-left: 40px;

}

#fact-col{
    display: flex;
    
}
#facts-col .fact-box {
    padding: 30px;
    width: 100%;
}
.facts .fact-box span{
    font-size: 60px;
    font-weight: 700;
    color: #050d18;
    
}
.facts .fact-box p{
    color: #050d18;
    font-size: 20px;
    padding-top: 15px;

    
    margin:0 0 0 60px
    
}
.facts .fact-box strong{
    padding-left: 15px;
}
/*=========================Skills====================*/

.progress-container{
    display:flex;
    

}
.col-left{
    width:100%;
    height:auto;
    padding:4px;

}
.col-right{
    
    padding: 5px;
    width: 100%;
     position: relative;
}
.skill{
    margin-bottom: 10px;
}
.sk-percent{
    float:right;
    font-style: italic;
    color: #040b14;
}
.skill .bar{
    position: relative;
    height: 10px;
    width: 100%;
    background-color: #999;
    
}
.skill .bar span{
    width:50%;
    height: 100%;
    position:absolute;
    background-color: #149ddd;
}
.skill .bar .html{
    width:60%;

}
.skill .bar .css{
    width:60%;

}
.skill .bar .java{
    width:60%;

}
.skill .bar .pshop{
    width:50%;

}

/*.skills .progresbar{
    height: 60px;
    width: 100%;
}
.skills .skill{
    margin: 0,0,6px,10px;
    font-weight: 600;
}
.d-progressbar{
    background: #dce8f8;
    height: 10px;
}

.skills .bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #149ddd;
}
.bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    
    text-align: center;
    white-space: nowrap;
    
   
}
/*==========================================resume===========================*/
.Resume em{
    margin-left: 10px;
}
.res-act{
    margin-left: 8px;
    border-left: 4px solid rgb(64, 145, 238);
}
.res-act p{
    margin-top: 1px;
}
.Resume span{
    font-size: 20px;
}
.resume-content i{
    color: #ffffff;
    border:3px solid rgb(64, 145, 238);
    border-radius: 50%;
}
.Resume li{
    padding: 0 0 10px 0;
}
.Resume .year{
    width: 80px;
    height:25px;
    margin-left: 20px;
    background-color: rgb(154, 180, 184);
    font-size: 15px;
    text-align: center;
}
/*====================================Portfolio=======================*/
.portfolio ul {
    list-style-type:none;
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    background-color: rgb(251, 242, 242);
    border-radius: 8px;
    box-shadow: 0 2px,3px,0;
}
.portfolio li{
    margin-right: 10px;
    color: #040b14;
}
.portfolio-bar{
    display: flex;
    justify-content: center;
}

.portfolio .portfolio-image-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.portfolio .portfolio-image-container .image__img{
    display: block;
    width :370px;
    height:250px;
    
}
.overlay__img{
    position: absolute;
    left:0;
    bottom:0;
    width:370px;
    height:40px;
    background: rgba(115, 204, 242, 0.6);
    color:#f1f1f1;
    padding:10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    opacity: 0;
}
.image:hover .overlay__img{
    opacity:1;
}
  
.image{
    position: relative;
    
    padding: 10px;
}


/*====================================================services================*/
.service-items{
    margin-top: 20px;
}
.services .service-items .service-box{
    width:400px;
    height: 200px;
    padding-left: 25px;
    padding-right: 20px;
    /*margin-left: 20px;
    margin-right: px;*/
}
.services i{
    background-color: rgb(39, 144, 237);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
    
}
.services .service-items .service-box h4{
    font-size: 20px;
    padding-left: 60px;
    margin-bottom: 5px;
    margin-top: 0px;
    
}
.service-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.service-box .s-description{
    padding-left: 60px;
    margin-top: 10px;
}   
.service-box .serv-text{
    margin-left: 20px;

}
/*==================================testimonial======================================*/
.testi-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.testimonial{
    position: relative;
    max-width:800px;
    width:100%;
    overflow: hidden;
    
}
.avatar{
    display: flex;
    justify-content: center;
}
.testimonial .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.avatar img{

    width: 90px;
    height:90px;
    margin-top: 30px;
    border-radius: 100%;
    box-shadow: 0 9px 26px rgba(58,87,135,0.1);
}
.testimonial p{
    margin-top: 20px;
    padding-top: 40px;
    text-align: center;
}
.back{
    background: #f1f1f1;
    border-radius: 5px;
}
.slide .quate-icon i{
    color: #149ddd;

}
/*==================================contact===========================================*/
.contact .contact-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .card{
    margin-right: 30px;
    margin-top: 10px;
    box-shadow: 0 0 5px 0 rgb(136, 132, 132);
    padding: 20px;
    border-radius: 5px
}
.contact i{
    background-color: rgb(39, 144, 237);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
}
.contact .card h4{
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
}
.contact .card .c-description{
    padding-left: 60px;
    margin-top: 10px;
}
.form-group{
    width:100%;
    margin-top: 20px;
    font-size: 20px;

}
.form-group  input, .form-group textarea{
    width: 100%;
    padding:5px;
    font-size: 10px;
    border:2px solid rgb(136, 132, 132,0.199);
    margin-top: 4px;
}
form .but{
    
    border: none;
    outline: none;
    padding: 20px;
    font-size: 20px;
    border-radius:10px;
    background-color: rgb(86, 151, 229);
    margin-top: 5px;

    display: flex;
    justify-content: center;

}
form .but-container{
    display: flex;
    justify-content: center;
}


/*==============================================================responsive header======================================*/

@media(max-width :1178px){
    .header{
        max-width: 300px;
        display: none;

    }
    .menu-button{
        display: flex;
        justify-content: flex-end;
    }
    
    .menu-toggel i{
        
        display:inline-flex;
        
    }
    /*.row{
        flex-wrap: nowrap;
    }*/
    #main{
        margin-left: 10px;
    }
    .passport-pic{
        margin: 8px 40px;
    }
    .portfolio .portfolio-image-container .image__img{
        width:300px
    }
    
    .progress-container{
        flex-wrap: wrap;
    }

}
@media(max-width :770px){
    .about-image{
        margin-left: 120px;

    }
    .contact .card{
        margin-left:20px
    }
    .swipper-wrap{
        justify-content: center;
    }
    h3{
        font-size: 30px;
        padding-left: 5px;
    }
    #about ul{
        padding-left: 0%;
    }
    #about .col-8 p{
        padding-left: 0%;
    }
}
@media(max-width :410px)
{
    .about-image{
        margin-left: 25px;

    }
    .contact .card{
        margin-left:20px
    }
    .overlay__img{
    
    }






}



